body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color:beige;
}

h1 {
    color: #82d1f9;
}

.band-name-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-button {
    display: flex;
    align-items: center;
    margin: 10px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3ac8de;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.word {
    font-weight: bold;
    margin-left: 5px;
}

#bandName{
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 400px;

}